{% extends 'SyliusWebBundle:Frontend:layout.html.twig' %}

{% block title %}{{ 'webburza.sylius.article.articles' | trans }}{% endblock %}

{% block content %}
    <div class="Page">
        {% for article in articles %}
            <div class="row product">
                <div class="col-md-3">
                    <a href="{{ path('webburza_article_frontend_show', {slug: article.slug}) }}" class="thumbnail">
                        <img src="{{ article.image ? article.image.path|imagine_filter('sylius_medium') : 'http://placehold.it/200x200' }}" alt="{{ article.title }}" />
                    </a>
                </div>
                <div class="col-md-9">
                    <a href="{{ path('webburza_article_frontend_show', {slug: article.slug}) }}" class="btn btn-link"><h3>{{ article.title }}</h3></a>
                    <p>{{ article.lead }}</p>
                </div>
            </div>
        {% endfor %}

        {% if articles.haveToPaginate() %}
            {{ pagerfanta(articles) }}
        {% endif %}
    </div>
{% endblock %}
