{% extends 'SyliusWebBundle:Frontend:layout.html.twig' %}

{% import 'WebburzaSyliusArticleBundle:Frontend/Article:macros.html.twig' as macro %}

{% block title %}{{ category.title }}{% endblock %}

{% block content %}
<div class="page-header">
    <a href="{{ path('webburza_article_frontend_index') }}">{{ 'webburza.sylius.article.breadcrumb.index' | trans }}</a>

    <h1 class="page-title">{{ category.title }}</h1>
</div>

{% if articles.haveToPaginate() %}
    {{ pagerfanta(articles, 'twitter_bootstrap3_translated') }}
{% endif %}

<div class="row">
    <div class="col-md-9">
        {{ macro.list(articles) }}
    </div>

{% if categories is not empty %}
    {{ macro.articleSidebar(categories, category.id) }}
{% endif %}
</div>

{% if articles.haveToPaginate() %}
    {{ pagerfanta(articles, 'twitter_bootstrap3_translated') }}
{% endif %}
{% endblock %}
