{% extends 'SyliusWebBundle:Frontend:layout.html.twig' %}

{% from 'WebburzaSyliusArticleBundle:Frontend/Article:macros.html.twig' import list %}

{% block title %}{{ 'webburza.sylius.article.index_header' | trans }}{% endblock %}

{% block content %}
<div class="page-header">
    <h1 class="page-title">{{ 'webburza.sylius.article.index_header' | trans }}</h1>
</div>

{% if articles.haveToPaginate() %}
    {{ pagerfanta(articles, 'twitter_bootstrap3_translated') }}
{% endif %}

<div class="row">
    <div class="col-md-9">
        {{ list(articles) }}
    </div>

{% if categories is not empty %}
    <div class="col-md-3">
        <ul class="nav">
            <li class="first">
                <span class="nav-header">
                    <span>{{ 'webburza.sylius.article_category.index_header' | trans }}</span>
                </span>

                <ul class="nav nav-list menu_level_1">
                    {% for category in categories %}
                    <li class="first">
                        <a href="{{ path('webburza_article_category_frontend_show', {slug: category.slug}) }}">
                            <i class="icon-angle-right"></i> <span>{{ category.title }}</span>
                        </a>
                    </li>
                    {% endfor %}
                </ul>
            </li>
        </ul>
    </div>
{% endif %}
</div>

{% if articles.haveToPaginate() %}
    {{ pagerfanta(articles, 'twitter_bootstrap3_translated') }}
{% endif %}
{% endblock %}
