{% macro list(articles) %}
{% import 'SyliusWebBundle:Backend/Macros:alerts.html.twig' as alerts %}

{% for article in articles %}
<div class="row">
    <div class="col-md-3">
        <a href="{{ path('webburza_article_frontend_show', {slug: article.slug}) }}" class="thumbnail">
            <img src="{{ article.image ? article.image.path|imagine_filter('sylius_medium') : 'http://placehold.it/200x200' }}" alt="{{ article.title }}">
        </a>
    </div>

    <div class="col-md-9">
        <a href="{{ path('webburza_article_frontend_show', {slug: article.slug}) }}">
            <p class="h3">{{ article.title }}</p>
        </a>

        <span>{{ article.publishedAt|date }}</span>

    {% if article.lead %}
        <hr>

        <p>{{ article.lead }}</p>
    {% endif %}
    </div>
</div>
{% if not loop.last %}<hr>{% endif %}
{% else %}
{{ alerts.info('webburza.sylius.article.no_results'|trans) }}
{% endfor %}
{% endmacro %}

{% macro articleSidebar(categories, currentCategory, articleView) %}
<div class="col-md-3{{ articleView ? ' col-md-offset-2' : '' }}">
    <ul class="nav">
        <li class="first">
            <span class="nav-header">
                <span>{{ 'webburza.sylius.article_category.index_header' | trans }}</span>
            </span>

            <ul class="nav nav-pills nav-stacked menu_level_1">
                {% for category in categories %}
                <li class="nav-item{{ loop.first ? ' first' : loop.last ? ' last' : '' }}{{ currentCategory and (currentCategory.id == category.id) ? ' active' : '' }}">
                    <a href="{{ path('webburza_article_category_frontend_show', {slug: category.slug}) }}">
                        <i class="icon-angle-right"></i> <span>{{ category.title }}</span>
                    </a>
                </li>
                {% endfor %}
            </ul>
        </li>
    </ul>
</div>
{% endmacro %}
