{% extends 'SyliusWebBundle:Frontend:layout.html.twig' %}

{% import 'WebburzaSyliusArticleBundle:Frontend/Article:macros.html.twig' as macro %}

{% block head %}
    <meta charset="UTF-8">
    <title>{{ article.title }}</title>
    <meta name="description" content="{{ article.metaDescription }}">
    <meta name="keywords" content="{{ article.metaKeywords }}">
{% endblock %}

{% block content %}
<div class="page-header">
    <a href="{{ path('webburza_article_frontend_index') }}">{{ 'webburza.sylius.article.breadcrumb.index' | trans }}</a>{% if article.category %} > <a href="{{ path('webburza_article_category_frontend_show', {slug: article.category.slug}) }}">{{ article.category.title }}</a>{% endif %}

    <h1 class="page-title">{{ article.title }}</h1>

    <span>{{ article.publishedAt|date }}</span>
</div>

<div class="row">
    <div class="col-md-7{{ categories is empty ? ' col-md-offset-2' : '' }}">
{% if article.image %}
        <img src="{{ article.image.path|imagine_filter('sylius_large') }}" class="img-responsive img-thumbnail">

        <hr>
{% endif %}

        {{ article.content|raw }}
    </div>

{% if categories is not empty %}
    {{ macro.articleSidebar(categories, article.category, true) }}
{% endif %}
</div>

{% if related_articles is not empty %}
<hr>

<div class="row">
    <div class="col-md-9">
        <h2>{{ 'webburza.sylius.article.frontend.latest_from_category' | trans }} &quot;{{ article.category.title }}&quot;</h2>

        {{ macro.list(related_articles) }}
    </div>
</div>
{% endif %}
{% endblock %}
