{% extends 'SyliusWebBundle:Backend:layout.html.twig' %}

{% from 'SyliusResourceBundle:Macros:actions.html.twig' import create %}

{% block topbar %}
    <ol class="breadcrumb">
        <li>{{ 'sylius.breadcrumb.content'|trans }}</li>
        <li><a href="{{ path('webburza_article_category_index') }}">{{ 'webburza.sylius.article_category.breadcrumb.index'|trans }}</a></li>
        <li>{{ 'sylius.breadcrumb.new'|trans }}</li>
    </ol>
{% endblock %}

{% block content %}
    <div class="page-header">
        <h1><i class="glyphicon glyphicon-plus-sign"></i> {{ 'webburza.sylius.article_category.create_header'|trans|raw }}</h1>
    </div>

    <form action="{{ path('webburza_article_category_create') }}" method="post" class="form-horizontal" novalidate {{ form_enctype(form) }}>
        <div class="row">
            <div class="col-md-8">
                {{ form_widget(form) }}
            </div>
        </div>
        {{ create() }}
    </form>
{% endblock %}
