{% extends 'SyliusWebBundle:Backend:layout.html.twig' %}

{% import 'SyliusResourceBundle:Macros:buttons.html.twig' as buttons %}
{% from 'SyliusWebBundle:Backend/Macros:misc.html.twig' import pagination %}
{% from 'WebburzaSyliusArticleBundle:Backend/Category/Macros:macros.html.twig' import list %}

{% block topbar %}
    <ol class="breadcrumb">
        <li>{{ 'sylius.breadcrumb.content'|trans }}</li>
        <li>{{ 'webburza.sylius.article_category.breadcrumb.index'|trans }}</a></li>
    </ol>
{% endblock %}

{% block content %}
    <div class="page-header">
        <div class="actions-menu">
            {{ buttons.create(path('webburza_article_category_create'), 'webburza.sylius.article_category.create'|trans) }}
        </div>
        <h1>
            <i class="glyphicon glyphicon-file"></i> {{ 'webburza.sylius.article_category.index_header'|trans|raw }}
        </h1>
    </div>

    {{ pagination(article_categories) }}
    {{ list(article_categories) }}
    {{ pagination(article_categories) }}

{% endblock %}
