{% form_theme form with ['@SyliusUi/Form/theme.html.twig', _self] %}

<div class="ui segment">
    {{ form_errors(form) }}

    <div class="ui two column stackable grid">
        <div class="column">
            <div class="ui styled fluid accordion">
                {% for locale, translationForm in form.translations %}
                    <div data-locale="{{ locale }}">
                        <div class="title{% if 0 == loop.index0 %} active{% endif %}">
                            <i class="dropdown icon"></i>
                            <i class="{{ locale|slice(3, 2)|lower }} flag"></i> {{ locale|sylius_locale_name }}
                        </div>
                        <div class="content{% if 0 == loop.index0 %} active{% endif %}">
                            {{ form_rest(translationForm) }}
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>

        <div class="column">
            {{ form_row(form.code) }}
            {{ form_row(form.published) }}
        </div>
    </div>
</div>
