{% macro list(article_categories) %}

    {% import 'SyliusResourceBundle:Macros:buttons.html.twig' as buttons %}
    {% import 'SyliusWebBundle:Backend/Macros:alerts.html.twig' as alerts %}

    {% if article_categories|length > 0 %}
        <table class="sylius-article_categories-table table table-bordered">
            <thead>
            <tr>
                <th class="id">{{ sylius_resource_sort('id', 'webburza.sylius.article_category.label.id'|trans) }}</th>
                <th class="title">{{ sylius_resource_sort('translation.title', 'webburza.sylius.article_category.label.title'|trans) }}</th>
                <th class="published">{{ sylius_resource_sort('published', 'webburza.sylius.article_category.label.published'|trans) }}</th>
                <th class="updated-at">{{ sylius_resource_sort('updatedAt', 'webburza.sylius.article.label.updated_at'|trans) }}</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for article_category in article_categories %}
                <tr id="{{ article_category.id }}">
                    <td>{{ article_category.id }}</td>
                    <td>
                        <a href="{{ path('webburza_article_category_show', {'id': article_category.id}) }}">
                            <strong>{{ article_category.title }}</strong>
                        </a>
                    </td>
                    <td>
                        {% if article_category.published %}
                            <span class="glyphicon glyphicon-ok"></span>
                        {% else %}
                            <span class="glyphicon glyphicon-remove"></span>
                        {% endif %}
                    </td>
                    <td>{{ article_category.updatedAt | date }}</td>
                    <td class="center-text">
                        {{ buttons.edit(path('webburza_article_category_update', {'id': article_category.id})) }}
                        {{ buttons.delete(path('webburza_article_category_delete', {'id': article_category.id})) }}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        {{ alerts.info('webburza.sylius.article_category.no_results'|trans) }}
    {% endif %}

{% endmacro %}
